/* ---> Header__menu <--- */

.header__menu-list li {
    list-style: none;
}

.header__menu-list li a {
    text-decoration: none;
    color: #000;
}

.header__menu-message {
    color: #000;
    font-weight: 600;
}

.header__menu-message a {
    color: #eb7700;
    font-weight: 600;
}

.header__menu-item {
    display: inline-block;
}

.header__menu-item:hover .header__submenu-list {
    display: block;
    background-color: #fff;
    padding: 15px 100px 20px 50px;
    margin-left: -50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.header__menu-item > .header__submenu-list {
    display: none;
    position: absolute;
}

.header__menu-item {
    margin: 0 15px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    padding: 12px 12px 0 1px;
    height: 45px;
    font-size: 1.3rem;  
    border-bottom: solid 1px #e5e5e5;
}

.bi-chevron-down {
    padding-left: 8px;
}

.bi-person-circle {
    padding-right: 4px;
}

.bi-geo-alt {
    padding-right: 4px;
}

.header__navbar-megamenu {
    position: absolute;
}

.header__navbar-submain {
    display: none;
}

/* ---> Header__navbar <--- */
.header__navbar-list li {
    list-style: none;
}

.header__navbar-logo {
    width: 160px;
    height: 40px;
}

.header__navbar-list li a {
    text-decoration: none;
    color: #000;
}

.header__navbar-item {
    display: inline-block;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 0;
}

.header__navbar-list {
    padding: 20px 0 20px 0;
}

.header__navbar-item {
    margin: 0 20px;
    position: relative;
}

.header__navbar-item a {
    font-size: 1.5rem;
    font-weight: 600;
}

.header__navbar-cart {
    display: inline-block;
    margin: 0 12px;
    padding-right: 14px;
    font-size: 2rem;
}
    
/* ---> Container <--- */

.container {
    margin: 0;
    padding: 0;
    max-width: 100%;
    position: relative;
}

.container__background {
    background-color: #f7f2ed;
    padding-bottom: 100px;
    
}

.container__background-img {
    height: 450px;
    width: 600px;
}

.container__background-img-p4 {
    margin-left: 650px;
    padding-top: 120px;
}

.container__background-text1 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #eb7700; 
}

.container__background-text-p1 {
    margin-left: 20px;  
    position: absolute;
    margin-top: 150px;
}

.container__background-text2 {
    font-size: 6.2rem;
    font-weight: 700;
    color: #3e516a;
    width: 600px;
    height: 160px;
}

.container__background-text-p2 {
    margin-left: 20px;  
    position: absolute;
    margin-top: 170px;
}

.container__background-text-p3 {
    margin-left: 20px;  
    position: absolute;
    margin-top: 360px;
}

.container__background-text3 {
    font-size: 1.3rem;
    font-weight: 400;
    color: #8a8b99;
    width: 600px;
    height: 70px;
}

.container__background-button {
    background-color: #f7f2ed;
    border: solid 1px #000;
    width: 160px;
    height: 40px;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
}

.container__background-button-p5 {
    position: absolute;
    margin-left: 20px;
    margin-top: -100px;
}

.bi-arrow-right {
    margin-left: 10px;
}

/* ---> Container__imageicon <--- */

.container__imageicon-item {
    list-style: none;
    display: inline-block;
    margin: 65px 50px;
}

.container__imageicon-item a img {
    width: 60px;
    height: 65px;
}

.imageicon-tittle {
    text-decoration: none;
}

.imageicon-tittle h4 {
    color: #000;
}

.imageicon-image {
    margin-bottom: 20px;
}

.imageicon-span {
    color: #808080;
    font-weight: 300;
    font-size: 1.2rem;
}

.container__imageicon-list {
    display: flex;  
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

}

.container__imageicon-list::-webkit-scrollbar {
    display: none;
}

.container__imageicon-list .container__imageicon-item {
    min-width: 110px;
    text-align: center;
}